<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration</title>
        <link rel="stylesheet" href="/assets/css/style.css">
        <script src="/assets/js/forms.js" defer></script>
        <script src="/assets/js/global.js" defer></script>
    </head>
    <body class="index">
        <p>Login</p>
        <form action="/login" method="post">
            Email:              <input type="email" name="email" value="asd@gmail.com">
            Password:           <input type="password" name="password" value="lkH#*RIUFLKDLfjhay">
            <input type="submit" value="Login">
        </form>
        <br><br>
        <p>Register</p>
        <form action="/register" method="post">
            First Name:         <input type="text" name="firstName" value="Jake">
            Last Name:          <input type="text" name="lastName" value="Lue">
            Email:              <input type="email" name="email" value="jtzuya@gmail.com">
            Password:           <input type="password" name="password" value="lkH#*RIUFLKDLfjhay">
            Confirm Password:   <input type="password" name="confirmPass" value="lkH#*RIUFLKDLfjhay">
            <input type="submit" value="Register">
        </form>
    </body>
</html>